<!doctype html>
<html lang='en'>

		<!-- declaration of head inforamtion -->
        <head>
        <meta charset="UTF-8">
        <title>Joseph's Blog WK2</title>
        <link href="css/style.css" rel="stylesheet" type="text/css">
        </head>

    <body>
    <!-- begin wrapper -->
    <div id="wrapper">
    <!-- begin header -->
      <header>
        <div id="logo"><img src="images/logo.gif" width="366" height="48" alt="logo"></div>
      </header>
      <!-- end header -->
      <!-- begin section 1 -->
      <div id="section1">
      <section> 
      <h1>About Joseph Handy</h1>
      <article>
      <h2>Education:</h2>
      <div id="education">With strengths within Broadcast designs and 3D Computer Animation, I earned an Associate of Applied Science Degree in Visual Communication. I learned, “Design is directed toward human beings. To design, is to solve human problems by identifying them and executing the best solution.” I'm attending Full Sail University to further my education to obtain a Bachelor of Science Degree in Web Design & Development to fulfill the skills needed within my career path as a UI/UX Designer-Developer.  </div>
      </article>
</section>
</div>
<!-- end section 1 -->

<!-- begin section 2 -->
<div id="section2">
<section>
<h2>What I do?</h2>
<article>
  <div id="what">Creative Multimedia Designer, offering creative solutions to solve business problems is what I do best. Friends, students and clients come to me with problems they are struggling with. I partner with them to develop exciting and flexible marketing collateral that builds brand awareness, promote product benefits, enhance the product’s professional appearance, and in turn contribute to sustained ROI for their business. Cognizant of the importance of balancing the needs and visions with practical and cost-efficient design formats. Strive to develop solutions that are inviting and interesting but also mirror the client’s core values and mission.</div>
</article>
      </section>
      </div>
      <!-- end section 2 -->
      <h2>I will be sharing my thoughts and inspirations of things I found for building my library.</h2>
      <h3>Here are same items I will be focusing on.</h3>
      <!-- begin section 3 -->
<div id="section3"> 
      <div class="headerimage"><img src="images/header.jpg" width="1200" height="87" alt="header image"></div>
            
   <div class="headercontent"> 
   <section>
      <article>
      <h1 align="justify">Header</h1>
      <div align="justify">
        <p>The Looking Glass header on the left is the one I chose to create because I like this look. </p>
        <p>The colors work very great for this company because all the products they create has a brown or light brown color within them. This is probably the reason why this color was chosen.</p>   <p>The Joseph's Blog is for youths between the ages of  9 to 16, that loves to read about natural health and resoures on new natural health products for youths.</p>
        <p>I would used this type of header on sites that need a flat clean look. The font I used are matching the logo and well balanced. The header is not a image. The logo is a png image with a color background.  The header is wrapped with a brown background, logo floated to the left and text floated to the right.</p>
<br> 
        
         <p><a href="http://joshanstudent.github.io/WSP/header/index.html" class='button'>Click here to view Header</a></p>  
         </div>
      </article>
      </section>
    </div>
      <!-- end section 3 -->
      
      
           <!-- begin section 4 -->

      <div class="cta"><img src="images/cta.jpg" width="1200" height="253" alt="header image"></div>
            
   <div class="ctacontent"> 
   <section>
      <article>
      <h1 align="justify">Call To Action (CTA)</h1>
      <div align="justify">The CTA, green and dark grey with a photo of a lady is the one I decided to create.      
      
      <p>The "Calling All Artists!!!, CTA is seeking graphic artists to enroll for the AIGA 2015 Art Festival in New York.</p>

<p>The colors I used are balance with the art face of the woman. Due to there are so many colors within the art face, the best solution is to use matching colors or secondary colors to create color harmony.</p>

<p>The fonts are well balance withn the CTAs, giving the user the ability to see them clearly. The reason why I have the top font as chalk handwriting, is to communicate in an artist like way. The second font is created within the traditional New York font style that is used at most of the New York Art Festival.</p>

<p>The CTA is not a image. The top section is text with color background. The left side is an image of a painted face of a woman. The right side is text with color background, along with a button below.</p> 
<br> 
        
        <p><a href="http://joshanstudent.github.io/WSP/CTA/index.html" class='button'>Click here to view CTA</a></p>  
        </div>
      </article>
      </section>
    </div>
      <!-- end section 4 -->
      
      
                 <!-- begin section 5 -->

      <div class="footer"><img src="images/footer.jpg" width="1200" height="400" alt="Footer image"></div>
            
   <div class="footercontent"> 
   <section>
      <article>
      <h1 align="justify">Footer</h1>
      <div align="justify">I chose the Verizon footer to create because I noted this footer wasn't traditional. There are some features, such as registration and contact. 
        <p>The call to action with the footer is working hard on promoting guest user to sign up. Verison vision withn their marketing is to use evry measure of communication to get new customers and to retain existing with a call of action on their web page at the top, body section and footer on all pages.</p>   <p> The fonts are well balance with the ability to see them clearly, even though there are a lot of different fonts being used.  It is not good to use more than two to three types of fonts on the same page, but within marketing the rules can changes depending on what you is being marketing. </p>
        <p>The footer that I created is not a image. It is wrapped with light color background, content is being floaded to proper position and logos and icon are floated also.</p>
        <p>&nbsp;</p>
        <p><a href="http://joshanstudent.github.io/WSP/footer/index.html" class='button'>Click here to view Footer</a></p>  
        </div>
      </article>
      </section>
    </div>
      <!-- end section 5 -->
      <div class="blog"><img src="images/blog.png" width="1200" height="286" alt="Blog image"></div>
            
   <div class="blogcontent"> 
   <section>
      <article>
      <h1 align="justify">Blog</h1>
      <div align="justify">
        <p>I chose to create the Disney Park Blog.</p>
        <p>This blog is to promote all the activities at Disney Park for each month to bring awareness to all age groups. </p>   
        <p> The fonts are well balance withn the Features, giving the user the ability to see them clearly.</p>
        <p>This blog was built from the ground up. The photos are from Disney Park Blog, but I didn't use any of the codes from their site website. The site is with a colorful background, static large photo within the header area, Disney Park Blog logo floating on top of the big photo, navigation floating to the right, news cap below with RSS Feed floating to the right,and the posts are below side by side. </p>
        <p>&nbsp;</p>
        <p><a href="http://joshanstudent.github.io/WSP/blog/index.html" class='button'>Click here to view Blog</a></p>  
        </div>
      </article>
      </section>
    </div>
      
      <!-- end section 11 -->
      </div>
      <!-- begin footer -->
  <div id="footer">
    <p>Copyright &copy; 2015 - <a href="index.html">Joseph's Blog</a> &middot; All Rights Reserved | Created by: <a href="index.html">Joseph Handy</a></p>
  </div>
  <!-- end footer -->
      <!-- end wrapper -->
    </div>
    	
    	
    </body>
</html>
